:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-ourwork {
  padding-top: 0;
}

/* Header and Logo */

.header-border {
  border-bottom: 1px solid #ececec;
}

.logo-flex {
  display: inline-block;
  margin-right: 93px;
}

.logo > span {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.web {
  color: var(--accent-color);
}

.studio {
  color: var(--primary-text-color);
}

.fwhite {
  color: var(--primary-white-color);
}

/* Navbar */

.header-flex {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.nkey {
  margin-right: 50px;
}

.nkey:last-child {
  margin-right: 0;
}

.nkey > a {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nkey > a:hover,
.nkey > a:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-duration: 2250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  fill: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
}

.contacts-item {
  margin-right: 30px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts a {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.mkey {
  display: flex;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.nkey .current {
  color: var(--accent-color);
  position: relative;
}

.nkey::before {
  position: absolute;
}

/* Hero-sect */
.hero {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 600px;
  background-color: #212121;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/bgphoto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  text-align: center;
  margin: 0 auto;
  border-color: transparent;
  border-radius: 4px;
  display: block;
}

.hero-container {
  padding: 200px 0;
}

/* Peculiarities-sect */

.peculiarities-flex {
  display: flex;
}

.detail {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.detail:last-child {
  margin-right: 0;
}

.item {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-pic {
  width: 70px;
  height: 70px;
}

.pcaption {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.detail > p {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Ourwork-sect */

.hcaption {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.ourwork-flex {
  display: flex;
}

.ourwork-flex-item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  position: relative;
}

.ourwork-flex-item:last-child {
  margin-right: 0;
}

.ourwork-flex-item > img {
  display: block;
}

.ourwork-text {
  padding: 27px 0;
  position: absolute;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  cursor: default;
}

/* Ourteam-sect */
.ourteam {
  background: #f5f4fa;
}

.ourteam-flex {
  display: flex;
}

.ourteam-item {
  margin-right: 30px;
}

.ourteam-item:last-child {
  margin-right: 0;
}

.ourteam-text {
  padding: 30px 0;
}

.ourteam-employee {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.fsname {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.post {
  color: var(--secondary-text-color);
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.ourteam-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourteam-social {
  margin-right: 10px;
}

.ourteam-social:last-child {
  margin-right: 0;
}

.social-team-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team-link:hover,
.social-team-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* ---------OUR CLIENT--------- */

.our-client {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-client-item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.our-client-item:hover {
  border-color: var(--accent-color);
}

.client-decor {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-decor:hover,
.client-decor:focus {
  fill: var(--accent-color);
}

/* Footer */
.basement {
  background-color: #2f303a;
  display: flex;
}

.line-footer {
  display: flex;
  align-items: baseline;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-contact {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
}

.adress {
  margin-bottom: 9px;
}

.adress-phone {
  margin-bottom: 0;
}

.adress a {
  color: var(--footer-adress-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress a:hover,
.adress a:focus {
  color: var(--accent-color);
}

.adress.office > a {
  color: var(--primary-white-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress.office > a:hover,
.adress.office > a:focus {
  color: var(--accent-color);
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-social-list {
  display: flex;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.basement > .container {
  display: flex;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

/* Portfolio */

/* buttons */

.main-container {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container-mainbox {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.fkey {
  margin-right: 8px;
}

.fkey:last-child {
  margin-right: 0;
}

.fkey > button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fkey > button:hover,
.fkey > button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* card */

.allworks-decor {
  position: relative;
  overflow: hidden;
}

.allworks-decor-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms;
  overflow: auto;
}

.card {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .allworks-decor-text {
  transform: translateY(0);
}

.card:focus .allworks-decor-text {
  transform: translateY(0);
}

.allworks {
  display: flex;
  flex-wrap: wrap;
}

.allworks-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.allworks-item:nth-child(3n + 3) {
  margin-right: 0;
}

.allworks-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.card > img {
  display: block;
}

.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.allworks-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.allworks-text > h2 {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.allworks-text > p {
  color: var(--secondary-text-color);
  line-height: 1.87;
}

/* -----MODAL----- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  fill: #2196f3;
}

.modal > .modal-close {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-wrapper {
  position: relative;
  margin-top: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  display: block;
  position: absolute;
  margin-left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-area-text {
  height: 96px;
  width: 100%;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area-text:hover,
.modal-area-text:focus {
  border-color: #2196f3;
}

.modal-area-text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-span {
  width: 15px;
  height: 16px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.modal-checkbox {
  margin-bottom: 20px;
}

.modal-check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-check-text > a {
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.check-icon {
  fill: transparent;
}

.policy:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}

.policy:checked + .modal-check-text .chek-icon {
  fill: #ffffff;
}

.send-modal {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  margin: 0 auto;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 55px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-mail-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-mail-container {
  margin-left: 93px;
}

.footer-mail {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer-btn-icon {
  margin-left: 10px;
}
