.ourteam {
  background: #f5f4fa;
}

.ourteam-flex {
  display: flex;
}

.ourteam-item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.ourteam-text {
  padding: 30px 0;
}

.ourteam-employee {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.fsname {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.post {
  color: var(--secondary-text-color);
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.ourteam-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourteam-social {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.social-team-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}
